<launch>
    <!-- Launch DNF Learning Node -->
    <node name="dnf_learning_node"
          pkg="fake_tiago_pkg"
          type="dnf_model_learning_simple_node.py"
          output="screen"
          args=""
          respawn="false" />

    <!-- Launch DNF Input Generator -->
    <node name="dnf_input_generator"
          pkg="fake_tiago_pkg"
          type="dnf_input_generator_node.py"
          output="screen"
          args=""
          respawn="false" />
</launch>
